/* Link this file to html */
* {
  box-sizing: border-box;
  padding: 0;
  /* border: 1px solid goldenrod; */
  margin: 0;
  font-family: 'Play', sans-serif;
}

body {
  /* background: lightcoral; */
}

nav {
  display: flex;
  justify-content: space-around;
  background: lightblue;
  align-items: center;
  height: 5vh;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 6px;
  border-radius: 5px;
}

a:hover {
  background: cadetblue;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

article {
  width: 45%;
  border: 1px solid darkblue;
  border-radius: 5px;
  background: lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section article h2 {
  color: darkblue;
  margin: 10px 0;
}

section article p {
  line-height: 1.5em;
}

footer {
  margin-top: 30px;
  text-align: center;
}
